<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>

    <form action=""></form>
    <p>Digite seu CEP</p>
    <input type="text" name="cep" id="cep" placeholder="Digite seu CEP">
    <button type="submit" id="submit">Pesquisar</button>
    <p>Rua: </p><span id="street"></span>
    <p>Bairro: </p><span></span>
    <p>Cidade: </p><span></span>
    <p>Estado: </p><span></span>
    </form>

    <script>

        //ajax
        const search = (e) => {

            e.preventDefault();

            var xhttp = new XMLHttpRequest();

            xhttp.onreadystatechange = function () {

                if (this.readyState == 4) {
                    if (this.status == 200) {
                        var response = JSON.parse(this.responseText);
                        document.querySelector("#street").innerHTML = response.street;
                    } else {

                    }
                }
            }

            var cep = document.querySelector("#cep").value;

            xhttp.open("GET", "http://localhost:5000/address/cep/" + cep, true);

            xhttp.send();

        }

        //aparecer quando clico no botão
        document.querySelector("#submit").addEventListener("click", (event) => {
            search(event);
        });

    </script>

</body>

</html>